.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efebe9;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
}

.recipe-item img {
    max-width: 100%;
    border-radius: 8px;
}

.recipe-item h3 {
    margin: 10px 0;
    color: #333;
}

.recipe-item a {
    color: maroon;
    margin-bottom: 10px;
}

.recipe-item button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-item button:hover {
    background-color: #c9302c;
}